    .client-form {
        @include adapt-bg(#{form});
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        padding-bottom: 60px;
        &__title {
            padding: 40px 20px;
            @include heavy;
            @include xl;
            text-align: center;
            text-transform: uppercase;
        }
        &__form {
            padding: 40px 66px 50px 66px;
            margin: 0 auto;
            position: relative;
        }
    }
    
    .form {
        text-align: left;
        background-color: $dark;
        border: 1px solid $primary;
        max-width: 550px;
        &__field {
            position: relative;
        }
        &__label {
            display: block;
            @include reg;
            @include xs;
        }
        &__input {
            z-index: $z-zero;
            position: relative;
            margin: 14px 0;
            width: 100%;
            @include reg;
            @include xs;
            color: $light;
            background-color: $dark;
            display: block;
            padding: 11px 15px;
            border: 1px solid $light;
            &--select {
                display: block;
                height: 100px;
                @include s;
            }
            &:focus {
                border: 1px solid $light;
            }
            &-icon {
                fill: $light;
                width: 15px;
                height: 15px;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                z-index: $z-bottom;
                //display: block;
            }
        }
        &__select {
            cursor: pointer;
            position: relative;
            &-body {
                z-index: $z-middle;
                background-color: $dark;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                display: none;
                &--opened {
                    display: block;
                }
            }
        }
        &__area {
            margin-top: 5px;
            padding: 10px;
            width: 100%;
            border: 1px solid $light;
            min-height: 100px;
            @include reg;
            @include xs;
            color: $light;
            background-color: $dark;
            &:focus {
                border: 1px solid $light;
            }
        }
        &__checkbox {}
        &__checkbox-input {
            height: 0;
            &:checked~:before {
                background-image: url('../img/confirm.svg');
                background-repeat: no-repeat;
                background-size: cover;
                background-origin: content-box;
            }
        }
        &__checkbox-label {
            position: relative;
            @include reg;
            @include xss;
            display: block;
            padding-left: 38px;
            position: relative;
            margin-right: 34px;
            line-height: 26px;
            cursor: pointer;
            &:before {
                box-sizing: border-box;
                position: absolute;
                content: '';
                display: block;
                width: 26px;
                height: 26px;
                border: 1px solid $primary;
                top: 0;
                left: 0;
                padding: 3px;
            }
        }
        &__buttons {
            text-align: center;
        }
        &__button {
            margin-top: 45px;
        }
        &__sex {
            line-height: 0.5;
            display: inline-block;
            margin-bottom: 20px;
        }
        &__radio-item {
            height: 0;
            &:checked~:after {
                display: block;
            }
        }
        &__radio-label {
            display: block;
            padding-left: 38px;
            position: relative;
            margin-right: 34px;
            line-height: 26px;
            @include reg;
            @include xs;
            cursor: pointer;
            &:before {
                box-sizing: border-box;
                position: absolute;
                content: '';
                display: block;
                width: 26px;
                height: 100%;
                border: 1px solid $primary;
                border-radius: 50%;
                top: 0;
                left: 0;
            }
            &:after {
                position: absolute;
                content: '';
                display: none;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $light;
                top: 10px;
                left: 10px;
            }
        }
        &__close {
            position: absolute;
            width: 25px;
            height: 25px;
            fill: $primary;
            top: 20px;
            right: 20px;
            cursor: pointer;
            transition: $tran-medium;
            &:hover {
                fill: $light
            }
        }
    }
    
    label.error {
        position: absolute;
        //font-size: 14px;
        @include xss;
        left: 0;
        right: 0;
        top: 100%;
        display: block;
        color: red;
        margin-left: 20px;
    }
    
    .form__input.error {
        border: 1px solid red;
    }
    
    .form__input.valid {
        border: 1px solid $primary;
    }
    
    .modal-form {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .7);
        z-index: $z-modal;
        &__form {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px 66px 60px 66px;
            width: 550px;
            height: 450px;
        }
    }