.contacts {
    position: relative;
    @include xs;
    background-color: $dark;
    &__wrapper {
        max-width: 1200px;
        padding: 0 30px;
        margin: 0 auto;
        display: flex;
    }
    &__content {
        width: 50%;
        padding-right: 60px;
    }
    &__title {
        @include heavy;
        @include l;
        padding-top: 65px;
        padding-bottom: 55px;
        text-transform: uppercase;
    }
    &__map {
        background-color: $primary;
        height: 460px;
        width: 50%;
        //margin-left: 130px;
    }
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    &__icon {
        flex-shrink: 0;
        fill: $primary;
        width: 34px;
        height: 34px;
        margin-right: 27px;
    }
    &__text {
        font-family: 'Muller', sans-serif;
        font-weight: normal;
        @include xs;
        text-align: left;
    }
}