.describing {
    position: relative;
    @include adapt-bg(#{descr});
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    border-top: 3px solid $primary;
    border-bottom: 3px solid $primary;
    color: $light;
    &:before {
        content: '';
        display: block;
        background-color: black;
        opacity: .7;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: $z-zero;
    }
    &__wrapper {
        z-index: $z-bottom;
        position: relative;
        padding-top: 200px;
        padding-bottom: 150px;
        display: flex;
    }
    &__content {
        padding-right: 177px;
    }
    &__title {
        margin-top: -15px;
        margin-bottom: 60px;
        @include l;
        @include heavy;
        text-transform: uppercase;
    }
    &__text {
        line-height: 36px;
        @include bold;
        @include s;
    }
    &__imgbox {}
    &__img {
        width: 263px;
        height: 371px;
    }
}