.footer {
    font-family: 'Muller', sans-serif;
    font-weight: normal;
    @include xs;
    background-color: $primary;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        margin: 34px 0;
        width: 220px;
        height: 50px;
    }
    &__social {
        display: none;
    }
    &__copyright-wrapper {}
    &__copyright {
        text-align: right;
        float: left;
        padding: 5px;
    }
}