.header {
    z-index: $z-top;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $primary;
    transition: $tran-medium;
    &__toggle {
        position: relative;
        display: none;
        border-top: 5px solid $light;
        border-bottom: 5px solid $light;
        transition: $tran-medium;
        overflow: hidden;
        width: 50px;
        height: 50px;
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: $light;
            transform: rotate(0deg) translateY(-50%);
            top: 50%;
            transform-origin: 50% 50%;
            transition-delay: .2s;
            transition: $tran-medium;
            left: 0;
        }
        &--opened {
            transform: rotate(90deg);
            border-top: 5px solid rgba(0, 0, 0, .0);
            border-bottom: 5px solid rgba(0, 0, 0, .0);
            border-radius: 10px;
            overflow: visible;
            &:before {
                transform: translateY(-50%) rotate(45deg);
                //transform: translateY(-50%);
            }
            &:after {
                transform: translateY(-50%) rotate(-45deg);
                //transform: translateY(-50%);
            }
        }
    }
    &__wrapper {
        position: relative;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        //overflow: hidden;
    }
    &__logo {
        margin-right: auto;
    }
    &__menu {}
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__list {
        display: flex;
    }
    &__item {
        float: left;
        padding: 0 30px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 2px;
            height: 100%;
            background-color: $light;
            right: 0;
            top: 0;
            transform: rotate(15deg);
        }
        &:last-child:after {
            width: 0px;
        }
        &:last-child {
            padding-right: 0px;
        }
    }
    &__link {
        box-sizing: content-box;
        display: block;
        color: $light;
        //font-size: 18px;
        @include xs;
        @include bold;
        line-height: 22px;
        border-bottom: 1px dashed transparent;
        text-transform: uppercase;
        transition: $tran-medium;
        &:visited {
            color: $light;
        }
        &:hover {
            color: $light;
            border-bottom: 1px dashed $light;
        }
    }
    &__social {
        margin-left: 60px;
    }
}

.header.scrolled {
    animation: headerBlackout 1s 1 ease;
    background-color: $dark;
    box-shadow: 2px 4px 17px 0px rgba(0, 0, 0, 0.75);
}

.header.scrolled .menu__item:after {
    background-color: $primary;
}

.header.scrolled .social__icon:hover {
    fill: $primary;
}

.header.scrolled .menu__link:hover {
    border-bottom: 1px solid $light;
}

.lightning {
    animation: headerLightning 1s 1 ease;
}

@keyframes headerBlackout {
    from {
        background-color: $primary;
    }
    to {
        background-color: $dark;
    }
}

@keyframes headerLightning {
    from {
        background-color: $dark;
    }
    to {
        background-color: $primary;
    }
}