@media screen and (max-width: 1280px) {
    .button-up {
        bottom: 50px;
        right: 50px;
        width: 80px;
        height: 80px;
    }
    .header__wrapper {
        height: 114px;
    }
    .main-page {
        padding-top: 114px;
    }
    .menu__social {
        display: none;
    }
    //======
}