@media screen and (max-width: $phone) {
    .modal-form {
        &__form {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: unset;
            height: unset;
            transform: translate(0%, 0%);
            opacity: 0.7;
        }
    }
    .button-up-wrapper {
        bottom: 10px;
        right: 10px;
    }
    .button-up {
        width: 50px;
        height: 50px;
    }
    .container {
        padding: 0px 20px;
    }
    .logo {
        width: 153px;
        height: 35px;
        margin-left: 20px;
    }
    .header__toggle {
        width: 30px;
        height: 25px;
    }
    .header {
        &__wrapper {
            height: 75px;
            padding: 0;
        }
    }
    .social {
        &__link {
            float: left;
        }
    }
    .main-page {
        padding-top: 75px;
        &__slider {
            padding-top: 15px;
            padding-bottom: 20px;
        }
        &__button {
            margin-top: 12px;
        }
    }
    .slider {
        &__stage {
            &:before {
                width: 200px;
                height: 200px;
            }
        }
        &__title {
            //font-size: 36px;
            margin-bottom: 20px;
        }
        &__description {
            line-height: 1.7;
            //font-size: 12px;
        }
    }
    .owl-pagination {
        margin-top: -100px;
        height: 33px;
        transform: scale(.7);
    }
    .regular-button__text {
        //font-size: 14px;
    }
    .describing {
        &__wrapper {
            padding: 15px 25px 35px 25px;
        }
        &__content {
            padding-right: 0;
        }
        &__title {
            //font-size: 24px;
            margin-bottom: 30px;
        }
        &__text {
            //font-size: 12px;
            line-height: 1.5;
        }
        &__imgbox {
            display: none;
        }
    }
    .menu {
        &__link {
            text-decoration: none;
            border-color: transparent;
        }
    }
    .owl-prev {
        display: none;
    }
    .owl-next {
        display: none;
    }
    .offering {
        &__title {
            //font-size: 24px;
            padding: 24px 0 24px 0;
        }
    }
    .accordion {
        &__title {
            padding: 17px 10px 17px 55px;
            //font-size: 16px;
        }
        &__icon {
            left: 14px;
            width: 25px;
            height: 25px;
            &:before,
            &:after {
                content: '';
                display: block;
                height: 4px;
                width: 15px;
            }
        }
        &__content-list {
            padding: 0;
            padding-left: 52px;
            padding-bottom: 8px;
        }
        &__content-item {
            width: 100%;
            padding: 0;
            margin-bottom: 12px;
            margin-top: -2px;
            //font-size: 14px;
        }
        &__content-bold {
            padding-right: 10px;
            //font-size: 14px;
            text-transform: none;
        }
        &__button {
            margin: 0;
            margin-top: -16px;
        }
    }
    .client-form {
        padding-bottom: 0;
        &__title {
            background-color: $primary;
        }
    }
    .form {
        border: none;
        padding: 15px 20px;
        &__label {
            //font-size: 14px;
            margin-bottom: 5px;
        }
        &__input {
            margin: 0;
            margin-bottom: 15px;
            padding: 7px 10px;
            //font-size: 14px;
        }
        &__button {
            //font-size: 14px;
            margin-top: 20px;
            margin-bottom: 24px;
        }
        &__radio-label {
            margin-right: 10px;
            //font-size: 14px;
            padding-left: 35px;
        }
        &__area {
            margin-top: 0;
            min-height: 80px;
        }
        &__checkbox {
            height: 0;
        }
        &__checkbox-label {
            //font-size: 12px;
            line-height: 1.2;
            transform: translateY(-15px);
        }
    }
    .contacts {
        &__wrapper {
            flex-direction: column-reverse;
            padding: 0;
        }
        &__content {
            text-align: center;
            padding: 0 55px;
            width: 100%;
        }
        &__title {
            padding-top: 22px;
            //font-size: 24px;
        }
        &__item {
            text-align-last: left;
            //font-size: 14px;
        }
        &__icon {
            //margin-right: 30px;
        }
        &__text {
            text-align-last: left;
        }
        &__map {
            width: 100%;
            height: 170px;
            padding: 0;
            margin: 0;
        }
    }
    .footer {
        &__wrapper {
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        &__logo {
            display: none;
        }
        &__copyright {
            line-height: 1.2;
            margin: 0 auto;
            width: 100%;
            //font-size: 12px;
            text-align: center;
        }
    }
    //==========
}