@media screen and (max-width: $additional) {
    .header__toggle {
        cursor: pointer;
        display: block;
        margin-right: 20px;
    }
    .header {
        &__menu {
            padding: 10px 0;
            position: absolute;
            background-color: $primary;
            top: -300%;
            left: 100%;
            width: 100%;
            transition: $tran-medium;
            opacity: 0;
            transform: scale(0);
            &--opened {
                left: 0%;
                top: 100%;
                opacity: 1;
                background-color: $dark;
                transform: scale(1);
            }
        }
    }
    .menu {
        z-index: 0;
        display: block;
        padding-bottom: 30px;
        &__list {
            padding: 0 20px;
            flex-direction: column;
            align-items: flex-start;
        }
        &__item {
            padding: 15px 0;
            &:after {
                display: none;
            }
        }
        &__link {
            display: inline;
            transition: $tran-medium;
            &:hover {
                border-color: transparent;
                color: $primary;
            }
        }
        &__social {
            display: block;
            margin-left: 0;
            
            margin-top: 10px;
        }
    }
    .social__icon:hover {
        fill: $primary;
    }
    .footer__social {
        display: none;
    }
    .header.scrolled .menu__link:hover {
        border-bottom: 1px solid transparent;
    }
    .social {
      
        &__icon {
            display: inline-block;
            width: 25px;
            height: 25px;
            fill: $light;
            transition: $tran-medium;
            &:hover {
                fill: $dark;
            }
        }
    }

}