@media screen and (max-width: $desktop) {
    .button-up-wrapper {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 40;
        opacity: .5;
        cursor: pointer;
    }
    .button-up {
        text-shadow: 2px 4px 17px 0px rgba(0, 0, 0, 0.75);
        width: 70px;
        height: 70px;
        fill: $light;
    }
    .logo {
        width: 220px;
        height: 50px;
        margin-left: 20px;
    }
    .main-page {
        &__slider {
            padding-bottom: 60px;
            padding-top: 40px;
        }
    }
    .slider {
        &__stage {
            margin-bottom: 0;
            height: 263px;
            &:before {
                width: 263px;
                height: 263px;
            }
        }
        &__title {
            //font-size: 72px;
            margin-bottom: 25px;
            padding-top: 0;
        }
        &__description {
            //font-size: 16px;
            max-width: 600px;
        }
    }
    .menu__link {
        //font-size: 16px;
    }
    .owl-prev {
        width: 39px;
        height: 66px;
        left: 25px;
        top: 43%;
    }
    .owl-next {
        width: 39px;
        height: 66px;
        right: 25px;
        top: 43%;
    }
    .owl-pagination {
        margin-top: -30px;
        height: 47px;
    }
    .describing {
        &__wrapper {
            padding-top: 45px;
            padding-bottom: 50px;
        }
        &__content {
            padding-right: 50px;
        }
        &__title {
            //font-size: 30px;
            margin-top: 16px;
            margin-bottom: 26px;
        }
        &__text {
            //font-size: 18px;
            line-height: 1.7;
        }
        &__imgbox {
            width: 263px;
            height: 371px;
        }
    }
    .offering {
        padding-bottom: 38px;
        &__title {
            //font-size: 36px;
            padding: 33px;
        }
    }
    .accordion {
        &__title {
            padding: 44px 0 44px 130px;
            //font-size: 26px;
        }
        &__content-list {
            padding-right: 88px;
        }
        &__content-item {
            //font-size: 16px;
            padding: 0 20px 0 0;
            margin-top: 10px;
            margin-bottom: 26px;
        }
        &__content-bold {
            padding-right: 20px;
            //font-size: 18px;
        }
        &__button {
            margin-top: 0;
            margin-bottom: 50px;
        }
    }
    .client-form {
        padding-bottom: 70px;
        &__title {
            //font-size: 28px;
            padding: 20px;
        }
    }
    .form {
        max-width: 510px;
        padding: 18px 45px 0;
        &__label {
            //font-size: 16px;
        }
        &__input {
            margin: 15px 0;
            //font-size: 16px;
            &--select {
                //font-size: 16px;
            }
        }
        &__button {
            //font-size: 18px;
            margin-bottom: 50px;
        }
        &__sex {
            margin-bottom: 12px;
        }
        &__radio-label {
            //font-size: 16px;
            margin-top: -10px;
        }
        &__area {
            margin-top: 12px;
            //font-size: 16px;
        }
    }
    .regular-button {
        &__text {
            &--scaling {}
        }
    }
    .contacts {
        &__wrapper {
            padding: 0 0 0 30px;
        }
        &__content {
            padding-top: 10px;
            width: 50%;
        }
        &__title {
            //font-size: 30px;
            padding-bottom: 26px;
        }
        &__item {
            font-weight: normal;
            //font-size: 16px;
            margin-bottom: 20px;
        }
        &__icon {
            fill: $light;
            margin-right: 25px;
        }
        &__map {
            height: 367px;
            width: 50%;
        }
    }
    .footer {
        &__social {
            display: block;
        }
        &__copyright {
            //font-size: 14px;
            float: none;
        }
    }
    //======
}