.offering {
    position: relative;
    font-weight: 500;
    //font-size: 30px;
    @include m;
    background-color: $dark;
    padding-bottom: 90px;
    border-bottom: 3px solid $primary;
    &__title {
        @include heavy;
        @include xl;
        padding: 45px 10px;
        text-align: center;
        text-transform: uppercase;
    }
    &__accordion {}
}

.accordion {
    &__item {
        &:last-child {
            border-bottom: 1px solid $primary;
        }
    }
    &__title {
        position: relative;
        padding: 42px 0 42px 130px;
        border-right: 1px solid $primary;
        border-left: 1px solid $primary;
        border-top: 1px solid $primary;
        cursor: pointer;
        @include reg;
        @include m;
    }
    &__icon {
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $primary;
        transition: $tran-medium;
        transform-origin: 50%, 50%;
        &:hover {
            background-color: $light;
        }
        &:before,
        &:after {
            content: '';
            display: block;
            height: 5px;
            width: 30px;
            position: absolute;
            background-color: $dark;
            top: 50%;
            left: 50%;
            transition: $tran-medium;
        }
        &:before {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        &:after {
            transform: translate(-50%, -50%) rotate(90deg);
        }
        &--opened {
            transform: translateY(-50%) rotate(180deg);
            &:after {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
    }
    &__content-wrapper {
        transition: $tran-medium;
        overflow: hidden;
        height: 0px;
    }
    &__content-list {
        padding: 0 130px;
        border-bottom: 1px solid $primary;
        border-right: 1px solid $primary;
        border-left: 1px solid $primary;
    }
    &__content-list-items {
        display: flex;
        flex-wrap: wrap;
    }
    &__content-item {
        width: 50%;
        padding: 24px 20px 0 0;
        margin-bottom: 10px;
        @include reg;
        @include m;
    }
    &__content-bold {
        @include heavy;
        @include s;
        text-transform: uppercase;
    }
    &__button {
        margin-top: 27px;
        margin-bottom: 64px;
    }
}