.main-page {
    @include adapt-bg(#{main});
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    color: $light;
    padding-top: 130px;
    &__slider {
        padding-bottom: 110px;
        padding-top: 105px;
        position: relative;
    }
    &__button {
        margin: 0 auto;
    }
}

.slider {
    &:before {
        content: '';
        display: block;
        position: absolute;
        background-color: black;
        opacity: .5;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include heavy;
    }
    &__title {
        //font-size: 120px;
        @include xxl;
        position: relative;
        margin-bottom: 70px;
        padding-top: 65px;
    }
    &__description {
        position: relative;
        //font-size: 20px;
        @include m-s;
        line-height: 2;
        max-width: 850px;
        margin: 0 auto;
    }
    &__stage {
        margin-bottom: 60px;
        padding-bottom: 100px;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 463px;
            height: 463px;
            background-color: $primary;
            border-radius: 50%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            opacity: .5;
        }
    }
    &__wrapper {}
}

.owl-page {
    margin-bottom: 55px;
}

.owl-prev {
    width: 72px;
    height: 120px;
    position: absolute;
    left: 25px;
    top: 42%;
    background-image: url('../img/arrow@3x.png');
    transform: scale(-1);
    background-repeat: no-repeat;
    background-size: cover;
}

.owl-next {
    width: 72px;
    height: 120px;
    position: absolute;
    right: 25px;
    top: 42%;
    background-image: url('../img/arrow@3x.png');
    background-repeat: no-repeat;
    background-size: cover;
}

//==== OWL-styles ====
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    /*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
    opacity: 1;
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}


/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */
}


/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}


/* preloading images */

.owl-item.loading {
    background: url(AjaxLoader.gif) no-repeat center center
}