@import '../../node_modules/owl-carousel/owl-carousel/owl.carousel';
@import '../../node_modules/owl-carousel/owl-carousel/owl.transitions';
//==== FONTS ====
@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueBold.eot');
    src: url('../fonts/UniNeueBold.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueBold.woff2') format('woff2'), url('../fonts/UniNeueBold.woff') format('woff'), url('../fonts/UniNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueBlack.eot');
    src: url('../fonts/UniNeueBlack.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueBlack.woff2') format('woff2'), url('../fonts/UniNeueBlack.woff') format('woff'), url('../fonts/UniNeueBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueHeavy.eot');
    src: url('../fonts/UniNeueHeavy.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueHeavy.woff2') format('woff2'), url('../fonts/UniNeueHeavy.woff') format('woff'), url('../fonts/UniNeueHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueRegular.eot');
    src: url('../fonts/UniNeueRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueRegular.woff2') format('woff2'), url('../fonts/UniNeueRegular.woff') format('woff'), url('../fonts/UniNeueRegular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.eot');
    src: url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/MullerRegular.woff2') format('woff2'), url('../fonts/MullerRegular.woff') format('woff'), url('../fonts/MullerRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

//==== COLORS ====
$light: white;
$primary: #6bc9bd;
$dark: #2c2c2c;
//==== BREAKPOINTS ====
$phone: 575px;
$tablet: 768px;
$desktop: 992px;
$additional: 744px;
//==== FONT SIZES ====
$xxl: 120px;
$xl: 60px;
$l: 48px;
$m: 30px;
$m-s: 20px;
$s: 24px;
$xs: 18px;
$xss: 14px;
//==== BREAKPOINTS ====
$phone: 575px;
$tablet: 768px;
$desktop: 1140px;
//==== ADAPTIVE FONTS ====
@mixin xxl() {
    font-size: $xxl;
    @media screen and (max-width: $desktop) {
        font-size: calc(#{$xxl} * 0.9);
    }
    @media screen and (max-width: $tablet) {
        font-size: calc(#{$xxl} * 0.6);
    }
    @media screen and (max-width: $phone) {
        font-size: calc(#{$xxl} * 0.3);
    }
}

@mixin xl() {
    font-size: $xl;
    @media screen and (max-width: $desktop) {
        font-size: calc(#{$xl} * 0.9);
    }
    @media screen and (max-width: $tablet) {
        font-size: calc(#{$xl} * 0.5);
    }
    @media screen and (max-width: $phone) {
        font-size: calc(#{$xl} * 0.4);
    }
}

@mixin l() {
    font-size: $l;
    @media screen and (max-width: $desktop) {
        font-size: calc(#{$l} * 0.9);
    }
    @media screen and (max-width: $tablet) {
        font-size: calc(#{$l} * 0.625);
    }
    @media screen and (max-width: $phone) {
        font-size: calc(#{$l} * 0.5);
    }
}

@mixin m() {
    font-size: $m;
    @media screen and (max-width: $desktop) {
        font-size: calc(#{$m} * 0.9);
    }
    @media screen and (max-width: $tablet) {
        font-size: calc(#{$m} * 0.6);
    }
    @media screen and (max-width: $phone) {
        font-size: calc(#{$m} * 0.53);
    }
}

@mixin m-s() {
    font-size: $m-s;
    @media screen and (max-width: $desktop) {
        font-size: calc(#{$m-s} * 0.9);
    }
    @media screen and (max-width: $tablet) {
        font-size: calc(#{$m-s} * 0.8);
    }
    @media screen and (max-width: $phone) {
        font-size: calc(#{$m-s} * 0.6);
    }
}

@mixin s() {
    font-size: $s;
    @media screen and (max-width: $desktop) {
        font-size: calc(#{$s} * 0.9);
    }
    @media screen and (max-width: $tablet) {
        font-size: calc(#{$s} * 0.75);
    }
    @media screen and (max-width: $phone) {
        font-size: calc(#{$s} * 0.58);
    }
}

@mixin xs() {
    font-size: $xs;
    @media screen and (max-width: $desktop) {
        font-size: calc(#{$xs} * 0.9);
    }
    @media screen and (max-width: $tablet) {
        font-size: calc(#{$xs} * 0.88);
    }
    @media screen and (max-width: $phone) {
        font-size: calc(#{$xs} * 0.77);
    }
}

@mixin xss() {
    font-size: $xss;
    @media screen and (max-width: $desktop) {
        font-size: calc(#{$xss} * 1);
    }
    @media screen and (max-width: $tablet) {
        font-size: calc(#{$xss} * 1);
    }
    @media screen and (max-width: $phone) {
        font-size: calc(#{$xss} * 1);
    }
}

//==== FONT-FAMILY MIXIN ====
@mixin fontfam() {
    font-family: 'Uni Neue', sans-serif;
}

//==== FONT-WEIGHT MIXINS ====
@mixin bold () {
    @include fontfam;
    font-weight: bold;
}

@mixin black () {
    @include fontfam;
    font-weight: 900;
}

@mixin reg () {
    @include fontfam;
    font-weight: 500;
}

@mixin heavy () {
    @include fontfam;
    font-weight: 900;
}

//==== BG MIXIN ====
@mixin adapt-bg($name) {
    background-image: url('../img/#{$name}.jpg');
    @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx) { 
            background-image: url('../img/#{$name}@2x.jpg');
        }
    }

//=== Z-INDEX ====
$z-modal: 40;
$z-top: 30;
$z-middle: 20;
$z-bottom: 10;
$z-zero: 0;
//==== TRANSITIONS ====
$tran-fast: 0.2s;
$tran-medium: 0.3s;
$tran-slow: 0.4s;
//==== BASIC ====
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

ul {
    list-style-type: none;
}

input,
select,
select:focus,
select:active,
textarea,
textarea:active,
input:focus,
textarea:focus {
    border: none;
    box-shadow: none;
    resize: none;
    outline: none;
    background-color: transparent;
    color: inherit;
}

body {
    @include bold;
    @include s;
    color: $light;
}

.container {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.anchor {
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    top: -130px;
    @media screen and (max-width: $tablet) {
        top: -114px;
    }
    @media screen and (max-width: $phone) {
        top: -75px;
    }
}

//==== BLOCKS ====
.placemark-content {
    @include xs;
    color: $dark;
    padding: 5px 0px;
    width: 200px;
    background-color: $light;
    opacity: 0.9;
}

.regular-button {
    border: none;
    box-shadow: none;
    color: $light;
    background-color: transparent;
    display: inline-block;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding: 0 7px;
    z-index: $z-zero;
    @include s;
    @include heavy;
    cursor: pointer;
    transition: $tran-medium;
    &:hover {
        transform: scale(1.15);
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 23%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: $primary;
        opacity: .5;
        z-index: -1;
    }
    &__text {
        @include s;
        @include heavy;
        z-index: $z-middle;
        display: block;
        position: relative;
    }
}

.regular-button:focus,
.regular-button:active {
    border: none;
    box-shadow: none;
    outline: none;
    color: $light;
    background-color: transparent;
}

.logo {
    display: block;
    width: 266px;
    height: 60px;
    &__img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.button-up-wrapper {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 60px;
    z-index: $z-top;
    opacity: .5;
    cursor: pointer;
}

.button-up {
    text-shadow: 2px 4px 17px 0px rgba(0, 0, 0, 0.75);
    width: 100px;
    height: 100px;
    fill: $light;
}

.social {
    &__link {
        float: left;
        margin-left: 20px;
    }
    &__icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        fill: $light;
        transition: $tran-medium;
        &:hover {
            fill: $dark;
        }
        &--footer {
            width: 30px;
            height: 30px;
        }
    }
}

//==== COMPONENTS ====
@import '_header';
@import '_slider';
@import '_describing';
@import '_offering';
@import '_client-form';
@import '_contacts';
@import '_footer';
@import '_media-desktop';
@import '_media-tablet';
@import '_media-additional';
@import '_media-phone';