<svg style="display:none">
    <symbol viewBox="0 0 511.962 511.962" id="vk">
        <g>
            <g>
                <path d="M507.399,370.471c-1.376-2.304-9.888-20.8-50.848-58.816c-42.88-39.808-37.12-33.344,14.528-102.176
                    c31.456-41.92,44.032-67.52,40.096-78.464c-3.744-10.432-26.88-7.68-26.88-7.68l-76.928,0.448c0,0-5.696-0.768-9.952,1.76
                    c-4.128,2.496-6.784,8.256-6.784,8.256s-12.192,32.448-28.448,60.032c-34.272,58.208-48,61.28-53.6,57.664
                    c-13.024-8.416-9.76-33.856-9.76-51.904c0-56.416,8.544-79.936-16.672-86.016c-8.384-2.016-14.528-3.36-35.936-3.584
                    c-27.456-0.288-50.72,0.096-63.872,6.528c-8.768,4.288-15.52,13.856-11.392,14.4c5.088,0.672,16.608,3.104,22.72,11.424
                    c7.904,10.72,7.616,34.848,7.616,34.848s4.544,66.4-10.592,74.656c-10.4,5.664-24.64-5.888-55.2-58.72
                    c-15.648-27.04-27.488-56.96-27.488-56.96s-2.272-5.568-6.336-8.544c-4.928-3.616-11.84-4.768-11.84-4.768l-73.152,0.448
                    c0,0-10.976,0.32-15.008,5.088c-3.584,4.256-0.288,13.024-0.288,13.024s57.28,133.984,122.112,201.536
                    c59.488,61.92,127.008,57.856,127.008,57.856h30.592c0,0,9.248-1.024,13.952-6.112c4.352-4.672,4.192-13.44,4.192-13.44
                    s-0.608-41.056,18.464-47.104c18.784-5.952,42.912,39.68,68.48,57.248c19.328,13.28,34.016,10.368,34.016,10.368l68.384-0.96
                    C488.583,400.807,524.359,398.599,507.399,370.471z" />
            </g>
        </g>
    </symbol>
</svg>
<svg style="display:none">
    <symbol viewBox="0 0 24 24" id="fb">
        <path
            d="m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z" />
    </symbol>
</svg>
<svg style="display:none">
    <symbol id="mail" viewBox="0 0 511.974 511.974">
        <g>
            <path d="M511.872,195.725c-0.053-0.588-0.17-1.169-0.35-1.732c-0.117-0.503-0.28-0.994-0.486-1.468
                c-0.239-0.463-0.525-0.901-0.853-1.306c-0.329-0.481-0.71-0.924-1.135-1.323c-0.137-0.119-0.196-0.282-0.341-0.401
                l-82.065-63.735V59.704c0-14.138-11.462-25.6-25.6-25.6h-92.476L271.539,5.355c-9.147-7.134-21.974-7.134-31.121,0
                l-37.035,28.749h-92.476c-14.138,0-25.6,11.461-25.6,25.6v66.057L3.268,189.496c-0.145,0.12-0.205,0.282-0.341,0.401
                c-0.425,0.398-0.806,0.842-1.135,1.323c-0.328,0.405-0.614,0.842-0.853,1.306c-0.207,0.473-0.369,0.965-0.486,1.468
                c-0.178,0.555-0.295,1.127-0.35,1.707c0,0.179-0.102,0.333-0.102,0.512V486.37c0.012,5.428,1.768,10.708,5.009,15.061
                c0.051,0.077,0.06,0.171,0.119,0.239c0.06,0.068,0.188,0.145,0.273,0.239c4.794,6.308,12.25,10.027,20.173,10.061h460.8
                c7.954-0.024,15.441-3.761,20.241-10.103c0.068-0.085,0.171-0.111,0.23-0.196c0.06-0.085,0.068-0.162,0.12-0.239
                c3.241-4.354,4.997-9.634,5.009-15.061V196.237C511.974,196.058,511.881,195.904,511.872,195.725z M250.854,18.82
                c2.98-2.368,7.2-2.368,10.18,0l19.686,15.283h-49.493L250.854,18.82z M27.725,494.904l223.13-173.321
                c2.982-2.364,7.199-2.364,10.18,0l223.189,173.321H27.725z M494.908,481.6L271.539,308.117c-9.149-7.128-21.972-7.128-31.121,0
                L17.041,481.6V209.233L156.877,317.82c3.726,2.889,9.088,2.211,11.977-1.515c2.889-3.726,2.211-9.088-1.515-11.977
                L25.276,194.018l60.032-46.652v65.937c0,4.713,3.821,8.533,8.533,8.533c4.713,0,8.533-3.821,8.533-8.533v-153.6
                c0-4.713,3.82-8.533,8.533-8.533h290.133c4.713,0,8.533,3.82,8.533,8.533v153.6c0,4.713,3.82,8.533,8.533,8.533
                s8.533-3.821,8.533-8.533v-65.937l60.032,46.652l-142.31,110.507c-2.448,1.855-3.711,4.883-3.305,7.928s2.417,5.637,5.266,6.786
                c2.849,1.149,6.096,0.679,8.501-1.232l140.083-108.774V481.6z" />
            <path d="M358.374,204.77v-34.133c0-56.554-45.846-102.4-102.4-102.4c-56.554,0-102.4,45.846-102.4,102.4
                s45.846,102.4,102.4,102.4c4.713,0,8.533-3.82,8.533-8.533s-3.82-8.533-8.533-8.533c-47.128,0-85.333-38.205-85.333-85.333
                s38.205-85.333,85.333-85.333s85.333,38.205,85.333,85.333v34.133c0,9.426-7.641,17.067-17.067,17.067
                s-17.067-7.641-17.067-17.067v-34.133c0-4.713-3.82-8.533-8.533-8.533s-8.533,3.82-8.533,8.533
                c0,18.851-15.282,34.133-34.133,34.133c-18.851,0-34.133-15.282-34.133-34.133s15.282-34.133,34.133-34.133
                c4.713,0,8.533-3.82,8.533-8.533s-3.82-8.533-8.533-8.533c-22.915-0.051-43.074,15.13-49.354,37.168
                c-6.28,22.038,2.847,45.565,22.347,57.601c19.5,12.036,44.622,9.65,61.507-5.843c1.858,18.046,17.543,31.464,35.659,30.505
                C344.25,237.91,358.431,222.912,358.374,204.77z" />
        </g>
    </symbol>
</svg>
<svg style="display:none">
    <symbol id="phone" viewBox="0 0 512.076 512.076">
        <g>
            <path d="M498.639,395.039l-19.891-13.252c44.859-78.9,44.358-175.706-1.315-254.137S347.813,1.005,257.052,1.08
                c-4.713,0-8.533,3.82-8.533,8.533s3.82,8.533,8.533,8.533c84.458-0.063,162.608,44.69,205.298,117.566
                c42.689,72.875,43.507,162.929,2.148,236.568l-69.538-46.362c-13.154-8.697-30.782-5.834-40.508,6.579l-30.157,38.818
                c-3.883,5.113-10.932,6.596-16.546,3.482l-5.743-3.166c-19.038-10.377-42.726-23.296-90.453-71.04s-60.672-71.45-71.049-90.453
                l-3.149-5.743c-3.161-5.612-1.705-12.695,3.413-16.606l38.792-30.182c12.412-9.725,15.279-27.351,6.588-40.508l-69.12-103.646
                C108.12,0.056,90.25-3.966,76.461,4.323L33.12,30.358C19.502,38.364,9.511,51.33,5.242,66.539
                c-15.607,56.866-3.866,155.008,140.706,299.597c62.976,62.976,117.12,100.693,162.901,122.027
                c-70.464,15.921-144.343-1.121-200.714-46.297c-56.371-45.177-89.096-113.57-88.907-185.809c0-4.713-3.82-8.533-8.533-8.533
                s-8.533,3.82-8.533,8.533c0.132,140.732,114.159,254.797,254.891,254.976c26.365,0.009,52.569-4.12,77.653-12.237
                c22.631,8.453,46.551,12.939,70.707,13.261c13.543,0.058,27.033-1.704,40.107-5.239c15.212-4.264,28.18-14.256,36.181-27.878
                l26.061-43.315C516.063,421.832,512.043,403.951,498.639,395.039z M493.092,426.842l-26.001,43.341
                c-5.749,9.849-15.089,17.088-26.061,20.198c-24.823,6.827-58.445,7.68-101.649-7.893c-0.685-0.384-1.421-0.671-2.185-0.853
                c-47.787-17.741-107.119-55.552-179.2-127.607C19.245,215.284,7.29,123.559,21.703,71.054
                c3.116-10.968,10.354-20.307,20.198-26.061l43.341-26.001c5.983-3.6,13.739-1.855,17.604,3.959l37.547,56.371l31.514,47.266
                c3.774,5.707,2.534,13.356-2.85,17.579l-38.801,30.182c-11.808,9.029-15.18,25.366-7.91,38.332l3.081,5.598
                c10.906,20.002,24.465,44.885,73.967,94.379c49.502,49.493,74.377,63.053,94.37,73.958l5.606,3.089
                c12.965,7.269,29.303,3.898,38.332-7.91l30.182-38.801c4.224-5.381,11.87-6.62,17.579-2.85l103.637,69.12
                C494.915,413.114,496.674,420.857,493.092,426.842z" />
        </g>
    </symbol>
</svg>
<svg style="display:none">
    <symbol id="pin" viewBox="0 0 511.998 511.998">
        <g>
            <path d="M167.974,351.473c21.086,29.73,42.138,56.32,56.09,73.446c2.031,2.492,3.934,4.804,5.777,7.031h-42.103
                c-4.713,0-8.533,3.82-8.533,8.533s3.82,8.533,8.533,8.533H324.27c4.713,0,8.533-3.82,8.533-8.533s-3.82-8.533-8.533-8.533
                h-42.103c1.843-2.227,3.746-4.54,5.786-7.031c13.943-17.067,34.987-43.716,56.081-73.446
                c20.929-28.905,39.767-59.267,56.371-90.854c17.425-34.219,26.266-62.626,26.266-84.437
                c0.058-45.321-17.926-88.801-49.98-120.841c-2.141-2.22-5.313-3.112-8.297-2.333c-2.984,0.779-5.316,3.107-6.099,6.09
                c-0.783,2.983,0.104,6.156,2.321,8.3c28.852,28.844,45.039,67.985,44.988,108.783c0,19.098-8.209,44.902-24.405,76.689
                c-16.229,30.855-34.64,60.513-55.091,88.747c-20.804,29.346-41.6,55.637-55.381,72.533c-4.582,5.615-8.704,10.581-12.22,14.78
                c-1.641,1.874-4.011,2.948-6.502,2.948c-2.491,0-4.861-1.075-6.502-2.948c-3.516-4.198-7.637-9.165-12.22-14.78
                c-13.781-16.887-34.577-43.179-55.381-72.533c-20.451-28.234-38.862-57.892-55.091-88.747
                c-16.213-31.787-24.405-57.591-24.405-76.689c-0.005-61.809,36.959-117.627,93.867-141.747
                c38.238-16.034,81.314-16.034,119.552,0c2.808,1.19,6.037,0.793,8.472-1.044c2.435-1.836,3.705-4.832,3.332-7.859
                c-0.373-3.027-2.332-5.625-5.14-6.815c-86.898-36.652-187.056,4.062-223.735,90.948c-8.895,21.046-13.457,43.669-13.414,66.517
                c0,21.811,8.841,50.219,26.266,84.48C128.208,292.234,147.047,322.582,167.974,351.473z" />
            <path d="M256.003,99.151c4.713,0,8.533-3.82,8.533-8.533s-3.82-8.533-8.533-8.533c-40.71-0.001-75.752,28.757-83.695,68.685
                c-7.943,39.928,13.426,79.906,51.037,95.486c37.611,15.58,80.99,2.421,103.608-31.428
                c22.618-33.849,18.175-78.962-10.611-107.749c-2.143-2.218-5.315-3.108-8.299-2.327c-2.983,0.781-5.313,3.111-6.094,6.094
                c-0.781,2.984,0.109,6.156,2.327,8.299c23.03,23.029,26.585,59.118,8.492,86.198c-18.093,27.08-52.796,37.608-82.885,25.146
                c-30.089-12.462-47.185-44.444-40.833-76.387S223.435,99.152,256.003,99.151z" />
            <path d="M508.786,470.957l-52.48-93.867c-4.745-8.34-13.624-13.466-23.219-13.406H372.27c-4.713,0-8.533,3.82-8.533,8.533
                s3.82,8.533,8.533,8.533h60.817c3.416-0.066,6.603,1.715,8.337,4.659l52.463,93.867c1.429,2.442,1.399,5.471-0.077,7.885
                c-1.743,2.88-4.895,4.605-8.26,4.523H26.457c-3.362,0.08-6.51-1.646-8.252-4.523c-1.476-2.414-1.505-5.443-0.077-7.885
                l52.463-93.867c1.731-2.943,4.915-4.724,8.328-4.659h60.817c4.713,0,8.533-3.82,8.533-8.533s-3.82-8.533-8.533-8.533H78.92
                c-9.6-0.063-18.486,5.063-23.236,13.406L3.212,470.957c-4.375,7.728-4.274,17.208,0.265,24.841
                c4.782,8.128,13.551,13.071,22.98,12.954H485.55c9.426,0.114,18.192-4.828,22.972-12.954
                C513.061,488.164,513.162,478.685,508.786,470.957z" />
            <path d="M418.137,406.351h-34.133c-1.685,0.003-3.332,0.501-4.736,1.434l-25.6,17.067c-3.921,2.616-4.979,7.915-2.364,11.836
                c2.616,3.921,7.915,4.979,11.836,2.364l23.424-15.633h31.573c4.713,0,8.533-3.821,8.533-8.533
                C426.67,410.171,422.85,406.351,418.137,406.351z" />
            <path d="M366.937,466.084c0,4.713,3.82,8.533,8.533,8.533h68.267c4.713,0,8.533-3.82,8.533-8.533s-3.82-8.533-8.533-8.533H375.47
                C370.757,457.551,366.937,461.371,366.937,466.084z" />
            <path d="M153.603,440.484c3.762,0.005,7.083-2.455,8.176-6.055c1.093-3.6-0.301-7.491-3.431-9.578l-25.6-17.067
                c-1.406-0.934-3.057-1.433-4.745-1.434H93.87c-4.713,0-8.533,3.821-8.533,8.533c0,4.713,3.821,8.533,8.533,8.533h31.573
                l23.45,15.633C150.288,439.981,151.927,440.48,153.603,440.484z" />
            <path d="M68.27,457.551c-4.713,0-8.533,3.82-8.533,8.533s3.82,8.533,8.533,8.533h68.267c4.713,0,8.533-3.82,8.533-8.533
                s-3.82-8.533-8.533-8.533H68.27z" />
        </g>
    </symbol>
</svg>

<svg style="display:none">
    <symbol id="up" viewBox="0 0 438.533 438.533">
        <g>
            <path d="M409.133,109.203c-19.608-33.592-46.205-60.189-79.798-79.796C295.736,9.801,259.058,0,219.273,0
            c-39.781,0-76.47,9.801-110.063,29.407c-33.595,19.604-60.192,46.201-79.8,79.796C9.801,142.8,0,179.489,0,219.267
            c0,39.78,9.804,76.463,29.407,110.062c19.607,33.592,46.204,60.189,79.799,79.798c33.597,19.605,70.283,29.407,110.063,29.407
            s76.47-9.802,110.065-29.407c33.593-19.602,60.189-46.206,79.795-79.798c19.603-33.596,29.403-70.284,29.403-110.062
            C438.533,179.485,428.732,142.795,409.133,109.203z M361.74,259.517l-29.123,29.129c-3.621,3.614-7.901,5.424-12.847,5.424
            c-4.948,0-9.236-1.81-12.847-5.424l-87.654-87.653l-87.646,87.653c-3.616,3.614-7.898,5.424-12.847,5.424
            c-4.95,0-9.233-1.81-12.85-5.424l-29.12-29.129c-3.617-3.607-5.426-7.898-5.426-12.847c0-4.942,1.809-9.227,5.426-12.848
            l129.62-129.616c3.617-3.617,7.898-5.424,12.847-5.424s9.238,1.807,12.846,5.424L361.74,233.822
            c3.613,3.621,5.424,7.905,5.424,12.848C367.164,251.618,365.357,255.909,361.74,259.517z" />
        </g>
    </symbol>
</svg>

<svg style="display:none">
    <symbol viewBox="0 0 32 20" id="select">
        <g>
            <g>
                <path
                    d="M25.6502768,16.7183307 C26.1165744,16.3216076 26.1165744,15.6783924 25.6502768,15.2816693 L8.03833646,0.297542318 C7.57203879,-0.0991807725 6.81602091,-0.0991807725 6.34972325,0.297542318 C5.88342558,0.694265408 5.88342558,1.33748062 6.34972325,1.73420371 L23.9616635,16.7183307 L23.9616635,15.2816693 L6.34972325,30.2657963 C5.88342558,30.6625194 5.88342558,31.3057346 6.34972325,31.7024577 C6.81602091,32.0991808 7.57203879,32.0991808 8.03833646,31.7024577 L25.6502768,16.7183307 Z"
                    id="Rectangle-482" stroke="none"
                    transform="translate(16.000000, 16.000000) rotate(-270.000000) translate(-16.000000, -16.000000) ">
                </path>
            </g>
        </g>
    </symbol>
</svg>

<svg style="display:none">
    <symbol viewBox="0 0 492 492" id="close">
        <g>
            <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
				c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
				c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
				L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
				c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
				c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
				c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z" />
        </g>
    </symbol>
</svg>
<!-- <svg style="display:none">
    <symbol viewBox="0 0 1280.000000 945.000000" id="confirm">
        <g>
            <path d="M9499 9382 c-31 -37 -181 -215 -334 -397 -1091 -1294 -2177 -2616
            -3585 -4365 -746 -926 -1002 -1242 -1272 -1568 -442 -532 -664 -762 -738 -762
            -31 0 -102 71 -195 195 -164 218 -370 557 -875 1440 -488 854 -655 1128 -752
            1239 l-35 40 -92 -34 c-319 -115 -692 -349 -1061 -666 -187 -161 -560 -539
            -560 -567 0 -40 577 -820 1199 -1622 761 -981 1385 -1736 1670 -2024 124 -125
            276 -210 469 -263 105 -29 347 -31 472 -5 102 22 319 93 412 136 77 35 94 55
            378 416 498 637 740 938 1100 1370 1848 2220 3966 4322 6242 6193 211 173 723
            584 801 642 25 19 47 38 47 43 0 4 -15 7 -33 7 -55 0 -343 20 -517 36 -1030
            93 -1937 289 -2670 578 -10 4 -33 -16 -71 -62z" />
        </g>
    </symbol>
</svg> -->